{% for menu in menus %}
<div class="list-group">
  <a href="{{url_for('user.index')}}" class="list-group-item list-group-item-action {% if request.endpoint == 'user.index'%}active{%endif%}">
    <i class="fas fa-users"></i>&nbsp;&nbsp;用户管理
  </a>
  <a href="#" class="list-group-item list-group-item-action {% if request.endpoint == 'sys.orgs'%}active{%endif%}" aria-current="true">
    <i class="fas fa-sitemap"></i>&nbsp;&nbsp;组织管理
  </a>
  <a href="#" class="list-group-item list-group-item-action {% if request.endpoint == 'sys.roles'%}active{%endif%}">
    <i class="fas fa-gavel"></i>&nbsp;&nbsp;角色管理
  </a>
  <a href="#" class="list-group-item list-group-item-action {% if request.endpoint == 'sys.menus'%}active{%endif%}">
    <i class="fas fa-list"></i>&nbsp;&nbsp;菜单管理
  </a>
  <a href="#" class="list-group-item list-group-item-action {% if request.endpoint == 'sys.dicts'%}active{%endif%}">
    <i class="fas fa-book"></i>&nbsp;&nbsp;字典管理
  </a>
</div>