{% extends 'base.html' %}
{% block title %}ISSUE管理{% endblock %}
{% from 'bootstrap/pagination.html' import render_pagination with context %}
{% block link %}
    {{static_file('css','css/dropzone.min.css')}}
    {{static_file('css','css/bootstrap-datepicker3.min.css')}}
{% endblock %}
{% block scripts %}
    {{static_file('js','js/dropzone.min.js')}}
    {{static_file('js','ckeditor/ckeditor.js')}}
    {{static_file('js','js/bootstrap-datepicker.min.js')}}
    {{static_file('js','js/bootstrap-datepicker.zh-CN.min.js')}}
    {{dropzone.config()}}
{% endblock %}
{% block style %}
    {{ dropzone.style('margin:20px 0; border:2px dashed #ccc; min-height:200px;')}}
{% endblock %}
{% block main %}
<div class="container-fluid" style="margin-top:20px;">
    <div class="row">
        <div class="col-2">{% include('_menus.html') %}</div>
        <div class="col-10">
            <div class="row">
                <div class="col">
                    <small style="color:#888;"><i class="fas fa-lg fa-street-view"></i>&nbsp;&nbsp;ISSUE管理&nbsp;&nbsp;/&nbsp;&nbsp;<span class="text-secondary">ISSUE事项</span></small>
                </div>
            </div>
            <hr>
            <form class="form-horizontal" method="post" id="search_form">
                {{form.csrf_token}}
                <div class="form-group row">
                    {{form.program.label(class='col-1 col-form-label text-right')}}
                    <div class="col-3">
                        {{form.program(class='form-control')}}
                    </div>
                    {{form.category.label(class='col-1 col-form-label text-right')}}
                    <div class="col-3">
                        {{form.category(class='form-control')}}
                    </div>
                    {{form.grade.label(class='col-1 col-form-label text-right')}}
                    <div class="col-3">
                        {{form.grade(class='form-control')}}
                    </div>
                </div>
                <div class="form-group row">
                    {{form.state.label(class='col-1 col-form-label text-right')}}
                    <div class="col-3">
                        {{form.state(class='form-control')}}
                    </div>
                    {{form.charge.label(class='col-1 col-form-label text-right')}}
                    <div class="col-3">
                        {{form.charge(class='form-control')}}
                    </div>
                    <div class="col-4 text-right">
                        <button class="btn btn-link" type="submit"><i class="fas fa-search"></i></button>&nbsp;&nbsp;
                        <a class="btn btn-link {%if disabled%}disabled{%endif%}" href="{{url_for('iss.add', pro_id=form.program.data)}}"><i class="fas fa-plus"></i></a>
                    </div>
                </div>
            </form>
            <table class="table table-hover table-sm">
                <thead>
                    <tr>
                        <th scope="col" width="20%">项目所属</th>
                        <th scope="col" width="10%">类别</th>
                        <th scope="col" width="10%">等级</th>
                        <th scope="col" width="10%">状态</th>
                        <th scope="col" width="10%">提出人</th>
                        <th scope="col" width="10%">处理人</th>
                        <th scope="col" width="15%">邀请完成日期</th>
                        <th scope="col" class="text-center" width="15%">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {%if issues%}
                        {%for issue in issues%}
                        <tr>
                            <td>{{issue.program.name}}</td>
                            <td>{{issue.category.display}}</td>
                            <td>{{issue.grade.display}}</td>
                            <td>{{issue.state.display}}</td>
                            <!-- 使用全局函数获取用户名 -->
                            <td>{{get_current_user(issue.operator_id).user_name}}</td>
                            <td>{{issue.handler.user_name}}</td>
                            <td>{{issue.ask_finish_dt}}</td>
                            <td class="text-center">
                                <!-- 创建者和处理者可以修改 -->
                                <a href="{{url_for('iss.edit', issue_id=issue.id)}}" class="btn btn-link btn-sm text-info {%if issue.handler_id!=current_user.id and issue.operator_id!=current_user.id%}disabled{%endif%}" title="编辑"><i class="fas fa-edit"></i></a>&nbsp;
                                <button class="btn btn-link btn-sm text-success" title="处理履历" onclick="get_logs('{{issue.id}}')"><i class="fas fa-list"></i></button>
                            </td>
                        </tr>
                        {%endfor%}
                    {%else%}
                        <tr>
                            <td colspan="7" class="text-center"><small>没有记录!!!</small></td>
                        </tr>
                    {%endif%}
                </tbody>
            </table>
            {{render_pagination(pagination, align='right')}}
        </div>
    </div>
    <!-- Issue Log Modal -->
    <div class="modal fade" id="logModal" tabindex="-1" role="dialog" aria-labelledby="menuModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="logTitle">处理履历</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <ul class="list-group" id="logs"></ul>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}
{% block script %}
    {{ super() }}
    $(function(){
        $('#program').change(function(){
            $('#search_form').submit()
        })
        $('#category').change(function(){
            $('#search_form').submit()
        })
        $('#grade').change(function(){
            $('#search_form').submit()
        })
        $('#state').change(function(){
            $('#search_form').submit()
        })
        $('#charge').change(function(){
            $('#search_form').submit()
        })
    })
    //获取issue操作日志
    function get_logs(id){
        $.ajax({
            type:'post',
            url:'/iss/logs/'+id,
            contentType:'application/json;charset=UTF-8',
            success:function(data){
                //$('#logTitle').text(data.module)
                $('#logs').empty()
                $('#logs').append(
                "<li class='list-group-item list-group-item-action'>"+
                "<div class='row'><div class='col-4'><small>更改人</small></div><div class='col-4'><small>更改内容</small></div><div class='col-4'><small>更改时间</small></div></div>"+
                "</div></li>")
                if(data.logs.length == 0){
                    $('#logs').append("<li class='list-group-item'><div class='row'><div class='col-12'>没有日志！</div></div></li>")
                }else{
                    for(var i = 0; i < data.logs.length; i++){
                        //$('#logs').append("<li class='list-group-item list-group-item-action'><i class='fas fa-list'></i>&nbsp;&nbsp;"+data.logs[i][1]+"</li>")
                        $('#logs').append(
                        "<li class='list-group-item list-group-item-action'>"+
                        "<div class='row'><div class='col-4'>"+data.logs[i][0]+"</div><div class='col-4'>"+data.logs[i][1]+"</div><div class='col-4'>"+data.logs[i][2]+"</div></div>"+
                        "</div></li>")
                    }
                }
                $('#logModal').modal('show')
            },
            error:function(){
                $.alert({
                   type:'red',
                   title:'系统提示',
                   content: '系统错误,请联系管理员',
                   onClose:function(){

                   }
               })
            }
        })
    }
{% endblock %}