{% extends 'base.html' %}
{% block title %}ISSUE管理{% endblock %}
{% from 'bootstrap/pagination.html' import render_pagination with context %}
{% block link %}
    {{static_file('css','css/dropzone.min.css')}}
    {{static_file('css','css/bootstrap-datepicker3.min.css')}}
{% endblock %}
{% block scripts %}
    {{static_file('js','js/dropzone.min.js')}}
    {{static_file('js','ckeditor/ckeditor.js')}}
    {{static_file('js','js/bootstrap-datepicker.min.js')}}
    {{static_file('js','js/bootstrap-datepicker.zh-CN.min.js')}}
    {{dropzone.config()}}
{% endblock %}
{% block style %}
    {{ dropzone.style('margin:20px 0; border:2px dashed #ccc; min-height:200px;')}}
{% endblock %}
{% block main %}
<div class="container-fluid" style="margin-top:20px;">
    <div class="row">
        <div class="col-2">{% include('_menus.html') %}</div>
        <div class="col-10">
            <div class="row">
                <div class="col">
                    <small style="color:#888;"><i class="fas fa-lg fa-street-view"></i>&nbsp;&nbsp;ISSUE管理&nbsp;&nbsp;/&nbsp;&nbsp;<span class="text-secondary">ISSUE事项</span></small>
                </div>
            </div>
            <hr>
            <form class="form-horizontal" method="post">
                {{form.csrf_token}}
                <div class="form-group row">
                    {{form.program.label(class='col-1 col-form-label text-right')}}
                    <div class="col-3">
                        {{form.program(class='form-control')}}
                    </div>
                    {{form.category.label(class='col-1 col-form-label text-right')}}
                    <div class="col-3">
                        {{form.category(class='form-control')}}
                    </div>
                    {{form.grade.label(class='col-1 col-form-label text-right')}}
                    <div class="col-3">
                        {{form.grade(class='form-control')}}
                    </div>
                </div>
                <div class="form-group row">
                    {{form.state.label(class='col-1 col-form-label text-right')}}
                    <div class="col-3">
                        {{form.state(class='form-control')}}
                    </div>
                    <div class="col-8 text-right">
                        <button class="btn btn-link" type="submit"><i class="fas fa-search"></i></button>&nbsp;&nbsp;
                        <a class="btn btn-link" href="{{url_for('iss.add')}}"><i class="fas fa-plus"></i></a>
                    </div>
                </div>
            </form>
            <table class="table table-hover table-sm">
              <thead>
                <tr>
                    <th scope="col" width="15%">项目所属</th>
                    <th scope="col" width="10%">类别</th>
                    <th scope="col" width="10%">等级</th>
                    <th scope="col" width="15%">状态</th>
                    <th scope="col" width="10%">负责人</th>
                    <th scope="col" width="20%">邀请完成日期</th>
                    <th scope="col" class="text-center" width="20%">Action</th>
                </tr>
              </thead>
            </table>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
    {{ super() }}
{% endblock %}