{% extends 'base.html' %}
{% from 'bootstrap/pagination.html' import render_pagination with context %}
{% block title %}角色管理{% endblock %}
{% block main %}
<div class="container-fluid" style="margin-top:20px;">
    <div class="row">
        <div class="col">
            <small style="color:#888;"><i class="fas fa-lg fa-street-view"></i>&nbsp;&nbsp;系统管理&nbsp;&nbsp;/&nbsp;&nbsp;<span class="text-secondary">角色管理</span></small>
            {% include('_menus.html') %}
        </div>
    </div>
    <hr>
    <form method="post">
      <div class="row">
        <div class="col-3 offset-8 text-right">
            {{form.csrf_token}}
            {{form.name(class='form-control', placeholder='角色名称')}}
        </div>
        <div class="col-1 text-right">
            <button class="btn btn-link btn-sm" type="submit"><i class="fas fa-search"></i></button>&nbsp;&nbsp;
            <a class="btn btn-link btn-sm" href="{{url_for('role.add')}}"><i class="fas fa-plus"></i></a>
        </div>
      </div>
    </form><br>
    <table class="table table-hover table-sm">
      <thead>
        <tr>
            <th scope="col" width="85%">角色名称</th>
            <th scope="col" class="text-center" width="15%">Action</th>
        </tr>
      </thead>
      <tbody>
        {% if roles %}
            {% for role in roles %}
                <tr>
                    <td>{{role.name}}</td>
                    <td class="text-center">
                        <a href="{{url_for('role.edit', id=role.id)}}" class="btn btn-link btn-sm text-info" title="编辑"><i class="fas fa-edit"></i></a>&nbsp;
                        <button class="btn btn-link btn-sm text-success" title="菜单权限" onclick="get_menus('{{role.id}}')"><i class="fas fa-list"></i></button>
                    </td>
                </tr>
            {%endfor%}
        {% else %}
            <tr>
                <td colspan="5" class="text-center"><small>没有记录!!!</small></td>
            </tr>
        {% endif %}
      </tbody>
    </table>
    {{render_pagination(pagination, align='right')}}
    <!-- Modal -->
    <div class="modal fade" id="authModal" tabindex="-1" role="dialog" aria-labelledby="menuModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">&nbsp;</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <ul class="list-group" id="menus"></ul>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-primary" onclick="do_auth()">保存</button>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}
{% block script %}
    {{ super() }}
    var role_id = ''
    function get_menus(id){
        role_id = id
        $.ajax({
            type:'post',
            url:'/role/menus/'+id,
            contentType:'application/json;charset=UTF-8',
            success:function(data){
                $('#menus').empty()
                if(data.all_menus.length == 0){
                    $('#menus').append("<li class='list-group-item'>尚未创建菜单！</li>")
                }else{
                    var authed = false
                    for(var i = 0; i < data.all_menus.length; i++){
                        //alert(i + ' menu id : ' + data.all_menus[i][0] + ', authed menus : ' + data.authed_menus)
                        if($.inArray(data.all_menus[i][0], data.authed_menus) >= 0)
                            authed = true
                        else
                            authed = false
                        //alert(authed)
                        if(authed)
                            $('#menus').append(
                                "<li class='list-group-item list-group-item-action'><div class='form-check'>"+
                                "<input class='form-check-input' type='checkbox' value='"+data.all_menus[i][0]+"' id='"+data.all_menus[i][0]+"' checked>"+
                                "<label class='form-check-label' for='"+data.all_menus[i][0]+"'>"+
                                data.all_menus[i][1]+
                                "</label>"+
                                "</div></li>")
                        else
                            $('#menus').append(
                                "<li class='list-group-item list-group-item-action'><div class='form-check'>"+
                                "<input class='form-check-input' type='checkbox' value='"+data.all_menus[i][0]+"' id='"+data.all_menus[i][0]+"'>"+
                                "<label class='form-check-label' for='"+data.all_menus[i][0]+"'>"+
                                data.all_menus[i][1]+
                                "</label>"+
                                "</div></li>")
                    }
                }
                $('#authModal').modal('show')
            },
            error:function(){
                $.alert({
                   type:'red',
                   title:'系统提示',
                   content: '系统错误,请联系管理员',
                   onClose:function(){

                   }
               })
            }
        })
    }
    //执行授权
    function do_auth(id){
        var menu_ids = []
        $(':checkbox').each(function(){
            if($(this).is(':checked'))
                menu_ids.push($(this).val())
        })
        if(menu_ids.length == 0)
            $.alert({
               type:'red',
               title:'系统提示',
               content: '请选择菜单！',
               onClose:function(){

               }
           })
        else
            $.ajax({
                type:'post',
                url:'/role/auth',
                data:JSON.stringify({role_id:role_id, menu_ids:menu_ids}),
                contentType:'application/json;charset=UTF-8',
                success:function(data){
                    if(data.code == 1)
                        $.alert({
                           type:'green',
                           title:'系统提示',
                           content: data.message,
                           onClose:function(){
                                $('#authModal').modal('hide')
                           }
                       })

                },
                error:function(){
                    $.alert({
                       type:'red',
                       title:'系统提示',
                       content: '系统错误,请联系管理员',
                       onClose:function(){

                       }
                   })
                }
            })
    }
{% endblock %}