<!DOCTYPE html>
<html lang="en">
{# 显式使用with context引入宏函数文件 #}
{% from 'macros/_macro.html' import static_file with context %}
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>项目管理系统登录</title>
        <!-- CSS -->
        {{static_file('css', 'login/assets/css/googleapis.css')}}
        {{static_file('css', 'login/assets/bootstrap/css/bootstrap.min.css')}}
        {{static_file('css', 'login/assets/font-awesome/css/font-awesome.min.css')}}
        {{static_file('css', 'login/assets/css/form-elements.css')}}
        {{static_file('css', 'login/assets/css/style.css')}}
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <!-- Top content -->
        <div class="top-content">
            <div class="inner-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3 form-box">
                        	<div class="form-top">
                        		<div class="form-top-left">
                        			<h3>项目管理系统登录</h3>
                            		<p>请输入您的账号密码进行登录:</p>
                        		</div>
                        		<div class="form-top-right">
                        			<i class="fa fa-lock"></i>
                        		</div>
                            </div>
                            <div class="form-bottom">
			                    <form role="form" method="post" class="login-form">
                                    {{ form.csrf_token }}
			                    	<div class="form-group">
                                        {{form.user_id.label}}
                                        {{form.user_id(class='form-username form-control', placeholder='Username...')}}
                                        {% for message in form.user_id.errors %}
                                            <small class="text-danger">
                                                {{ message }}
                                            </small>
                                        {% endfor %}
			                        </div>
			                        <div class="form-group">
                                        {{form.user_pwd.label}}
                                        {{form.user_pwd(class='form-password form-control', placeholder='Password...')}}
                                        {% for message in form.user_pwd.errors %}
                                            <small class="text-danger">
                                                {{ message }}
                                            </small>
                                        {% endfor %}
			                        </div>
                                    <div class="form-group text-center text-danger">
                                        {% if get_flashed_messages() %}
                                            {% for message in get_flashed_messages() %}
                                                <i class="fa fa-warning"></i> <small>{{ message }}</small>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
			                        <button type="submit" class="btn">登录</button>
			                    </form>
		                    </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Javascript -->
        {{static_file('js', 'login/assets/js/jquery-1.11.1.min.js')}}
        {{static_file('js', 'login/assets/bootstrap/js/bootstrap.min.js')}}
        {{static_file('js', 'login/assets/js/jquery.backstretch.min.js')}}
        <!--[if lt IE 10]>
            <script src="assets/js/placeholder.js"></script>
        <![endif]-->
        <script>
        $(function() {
            /*
                Fullscreen background
            */
            $.backstretch([
                            "{{url_for('static', filename='login/assets/img/backgrounds/2.jpg')}}"
                          , "{{url_for('static', filename='login/assets/img/backgrounds/3.jpg')}}"
                          , "{{url_for('static', filename='login/assets/img/backgrounds/1.jpg')}}"
                         ], {duration: 3000, fade: 750});
            /*
                Form validation
            */
            $('.login-form input[type="text"], .login-form input[type="password"], .login-form textarea').on('focus', function() {
                $(this).removeClass('input-error');
            });

            $('.login-form').on('submit', function(e) {

                $(this).find('input[type="text"], input[type="password"], textarea').each(function(){
                    if( $(this).val() == "" ) {
                        e.preventDefault();
                        $(this).addClass('input-error');
                    }
                    else {
                        $(this).removeClass('input-error');
                    }
                });
            });
        });
        </script>
    </body>
</html>