{% from 'bootstrap/nav.html' import render_nav_item with context %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#"><i class="far fa-lg fa-file-archive"></i>&nbsp;&nbsp;<small>PM</small></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarScroll">
    <ul class="navbar-nav mr-auto my-2 my-lg-0 navbar-nav-scroll" style="max-height: 100px;">
      {% for module in session.get('modules') %}
        <li class="nav-item">
          <li class="nav-item">
            {% if session.get('nav') == module[3]%}
            <a class="nav-link active" href="{{url_for('sys.index', module_id=module[1])}}">{{module[2]}}</a>
            {% else %}
            <a class="nav-link" href="{{url_for('sys.index', module_id=module[1])}}">{{module[2]}}</a>
            {% endif %}
          </li>
        </li>
      {% endfor %}
    </ul>
    <div class="d-flex">
        {% if current_user.is_authenticated %}
            <h5 class="text-secondary"><i class="far fa-user"></i>&nbsp;{{current_user.user_name}}</h5>&nbsp;&nbsp;&nbsp;&nbsp;
            <a class="btn btn-outline-secondary" href="{{url_for('auth.logout')}}"><i class="fas fa-sign-out-alt"></i></a>
        {% endif %}
    </div>
  </div>
</nav>