<!DOCTYPE html>
<html lang="en">
{# 显式使用with context引入宏函数文件 #}
{% from 'macros/_macro.html' import static_file with context %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{%block title %}Base Page{% endblock %}</title>
    {# 导入静态文件 #}
    {{static_file('icon', 'images/icon/favicon.ico')}}
    {{static_file('css', 'css/bootstrap.min.css')}}
    {{static_file('css', 'css/jquery-confirm.min.css')}}
    {{static_file('css', 'css/all.min.css')}}
    {# --------- 引入子页面自己的css文件 --------- #}
    {% block link %}{% endblock %}
    {{static_file('js', 'js/jquery-3.6.0.min.js')}}
    {{static_file('js', 'js/popper.min.js')}}
    {{static_file('js', 'js/bootstrap.min.js')}}
    {{static_file('js', 'js/jquery-confirm.min.js')}}
    <!-- 生成执行时间渲染函数 -->
    {{ moment.include_moment(local_js=url_for('static',filename='js/moment/moment-with-locales.js')) }}
    <!-- 设置自动识别显示语言 -->
    {{ moment.locale(auto_detect=True) }}
    {# --------- 引入子页面自己的JavaScript文件 --------- #}
    {% block scripts %}{% endblock %}
    {# --------- 编写子页面自己的css样式 --------- #}
    {% block style %}{% endblock %}
</head>
<body>
<header>{% block header %}{% include '_header.html' %}{% endblock %}</header>
<main>{% block main %}<h1>Content Of the System</h1>{% endblock %}</main>
<footer>{% block footer %}{% include '_footer.html' %}{% endblock %}</footer>
<script>{% block script %}{% endblock %}</script>
</body>
</html>