{% extends 'base.html' %}
{% from 'bootstrap/pagination.html' import render_pagination with context %}
{% block title %}字典管理{% endblock %}
{% block main %}
<div class="container-fluid" style="margin-top:20px;">
    <div class="row">
        <div class="col">
            <small style="color:#888;"><i class="fas fa-lg fa-street-view"></i>&nbsp;&nbsp;<a href="{{url_for('sys.index')}}" class="text-secondary">系统管理</a>&nbsp;&nbsp;/&nbsp;&nbsp;<span class="text-secondary">字典管理</span></small>
        </div>
    </div>
    <hr>
    <form method="post">
      <div class="row">
        <div class="col-3 offset-5 text-right">
            {{form.csrf_token}}
            {{form.code(class='form-control', placeholder='字典代码')}}
        </div>
        <div class="col-3 text-right">
            {{form.name(class='form-control', placeholder='字典名称')}}
        </div>
        <div class="col-1 text-right">
            <button class="btn btn-link btn-sm" type="submit"><i class="fas fa-search"></i></button>&nbsp;&nbsp;
            <a class="btn btn-link btn-sm" href="{{url_for('dict.add')}}"><i class="fas fa-plus"></i></a>
        </div>
      </div>
    </form><br>
    <table class="table table-hover table-sm">
      <thead>
        <tr>
            <th scope="col" width="40%">字典代码</th>
            <th scope="col" width="40%">字典名称</th>
            <th scope="col" class="text-center" width="20%">Action</th>
        </tr>
      </thead>
      <tbody>
        {% if dictionaries %}
            {% for dictionary in dictionaries %}
                <tr>
                    <td>{{dictionary.code}}</td>
                    <td>{{dictionary.name}}</td>                   
                    <td class="text-center">
                        <a href="{{url_for('dict.edit', id=dictionary.id)}}" class="btn btn-link btn-sm text-info" title="编辑"><i class="fas fa-edit"></i></a>&nbsp;
                        <button class="btn btn-link btn-sm text-success" title="枚举清单" onclick="get_enums('{{dictionary.id}}')"><i class="fas fa-list"></i></button>
                    </td>
                </tr>
            {%endfor%}
        {% else %}
            <tr>
                <td colspan="5" class="text-center"><small>没有记录!!!</small></td>
            </tr>
        {% endif %}
      </tbody>
    </table>
    {{render_pagination(pagination, align='right')}}
    <!-- Modal -->
    <div class="modal fade" id="enumModal" tabindex="-1" role="dialog" aria-labelledby="enumModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel"><button class="btn btn-link" onclick="add_enum()"><i class="fas fa-plus"></i></button></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <ul class="list-group" id="enums"></ul>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
              <button type="button" class="btn btn-primary" onclick="do_save()">保存</button>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}
{% block script %}
    {{ super() }}
    var dict_id = ''    //字典ID
    var enum_id = 0     //新增枚举的ID(移除标识)
    var enums = []      //存储枚举ID,用于保存
    var removed = []    //移除的枚举值
    //获取对应的枚举值
    function get_enums(id){
        enum_id = 0
        enums = []
        removed = []
        dict_id = id
        $.ajax({
            type:'post',
            url:'/dict/enums/'+id,
            contentType:'application/json;charset=UTF-8',
            success:function(data){
                $('#enums').empty()
                if(data.enums.length != 0){
                    for(var i = 0; i < data.enums.length; i++){
                        //alert('Enum id is : ' + data.enums[i][0])
                        enums.push(data.enums[i][0])
                        $('#enums').append(
                        "<li class='list-group-item list-group-item-action' id='"+data.enums[i][0]+"'>"+
                        "<div class='row'><div class='col-10'><input type='text' class='form-control' id='display"+data.enums[i][0]+"' value='"+data.enums[i][1]+"' style='width:300px'></div><div class='col-2'><button class='btn btn-link text-danger' onclick='del_enum(\""+data.enums[i][0]+"\")'><i class='fas fa-minus-circle'></i></button></div></div>"+
                        "</div></li>")
                    }
                }
                $('#enumModal').modal('show')
            },
            error:function(){
                $.alert({
                   type:'red',
                   title:'系统提示',
                   content: '系统错误,请联系管理员',
                   onClose:function(){

                   }
               })
            }
        })
    }
    //执行保存
    function do_save(id){
        if(enums.length == 0){
            $.alert({
               type:'red',
               title:'系统提示',
               content: '请添加枚举值！',
               onClose:function(){

               }
           })
        }else{
            var p_enums = []
            //检查枚举值是否为空
            for(var i = 0; i < enums.length; i++){
                //alert('Enum id : '+enums[i])
                if($.trim($('#display'+enums[i]).val()) == ''){
                    $.alert({
                       type:'red',
                       title:'系统提示',
                       content: '请填写枚举值！',
                       onClose:function(){}
                    })
                    return
                }
                p_enums.push({'id':enums[i],'display':$.trim($('#display'+enums[i]).val())})
            }
            //alert(p_enums)
            $.ajax({
                type:'post',
                url:'/dict/enum_add',
                data:JSON.stringify({dict_id:dict_id, p_enums:p_enums,removed:removed}),
                contentType:'application/json;charset=UTF-8',
                success:function(data){
                    if(data.code == 1)
                        $.alert({
                           type:'green',
                           title:'系统提示',
                           content: data.message,
                           onClose:function(){
                                $('#enumModal').modal('hide')
                           }
                       })

                },
                error:function(){
                    $.alert({
                       type:'red',
                       title:'系统提示',
                       content: '系统错误,请联系管理员',
                       onClose:function(){

                       }
                   })
                }
            })
        }
    }
    //新增枚举
    function add_enum(){
        enum_id += 1
        var id = enum_id + ''
        enums.push(id)
        $('#enums').append(
        "<li class='list-group-item list-group-item-action' id='"+id+"'>"+
        "<div class='row'><div class='col-10'><input type='text' class='form-control' id='display"+id+"' style='width:300px'></div><div class='col-2'><button class='btn btn-link text-danger' onclick='del_enum("+id+")'><i class='fas fa-minus-circle'></i></button></div></div>"+
        "</div></li>")
    }
    //移除枚举
    function del_enum(id){
        enums.forEach(function(item, index, enums){
            if(item == id)
                enums.splice(index, 1)
        })
        removed.push(id)
        $('#'+id).remove()
    }
{% endblock %}