{% extends 'base.html' %}
{% block title %}项目管理{% endblock %}
{% from 'bootstrap/pagination.html' import render_pagination with context %}
{% block main %}
<div class="container-fluid" style="margin-top:20px;">
    <div class="row">
        <div class="col-2">{% include('_menus.html') %}</div>
        <div class="col-10">
            <div class="row">
                <div class="col">
                    <small style="color:#888;"><i class="fas fa-lg fa-street-view"></i>&nbsp;&nbsp;项目管理&nbsp;&nbsp;/&nbsp;&nbsp;<span class="text-secondary">我的项目</span></small>
                </div>
            </div>
            <hr>
            <form method="post">
              <div class="row">
                <div class="col-3 offset-4 text-right">
                    {{form.csrf_token}}
                    {{form.no(class='form-control', placeholder='项目编号')}}
                </div>
                <div class="col-3 text-right">
                    {{form.name(class='form-control', placeholder='项目名称')}}
                </div>
                <div class="col-2 text-right">
                    <button class="btn btn-link" type="submit"><i class="fas fa-search"></i></button>&nbsp;&nbsp;
                    <a class="btn btn-link" href="{{url_for('pro.add')}}"><i class="fas fa-plus"></i></a>
                </div>
              </div>
            </form><br>
            <table class="table table-hover table-sm">
              <thead>
                <tr>
                    <th scope="col" width="15%">项目编号</th>
                    <th scope="col" width="20%">项目名称</th>
                    <th scope="col" width="15%">PR编号</th>
                    <th scope="col" width="15%">合同编号</th>
                    <th scope="col" width="15%">项目描述</th>
                    <!--th scope="col" width="15%">SVN地址</th-->
                    <th scope="col" class="text-center" width="20%">Action</th>
                </tr>
              </thead>
              <tbody>
                {% if programs %}
                    {% for program in programs %}
                        <tr>
                            <td>{{program.no}}</td>
                            <td>{{program.name}}</td>
                            <td>{{program.pr}}</td>
                            <td>{{program.contract}}</td>
                            <td>{{program.desc}}</td>
                            <!--td>{{program.svn}}</td-->
                            <td class="text-center">
                                <a href="{{url_for('pro.edit', id=program.id)}}" class="btn btn-link btn-sm text-info" title="编辑"><i class="fas fa-edit"></i></a>&nbsp;
                                {#
                                <button class="btn btn-link btn-sm text-warning {%if not user.status or user.user_id == 'admin'%}disabled{%endif%}" title="重置密码" onclick="reset_password('{{user.id}}')"><i class="fas fa-key"></i></button>&nbsp;
                                <button class="btn btn-link btn-sm text-danger {%if not user.status or user.user_id == 'admin'%}disabled{%endif%}" title="停用" onclick="status('{{user.id}}', 0)"><i class="far fa-times-circle"></i></button>&nbsp;
                                <button class="btn btn-link btn-sm text-success {%if user.status or user.user_id == 'admin'%}disabled{%endif%}" title="启用" onclick="status('{{user.id}}', 1)"><i class="far fa-check-circle"></i></button>
                                #}
                            </td>
                        </tr>
                    {%endfor%}
                {% else %}
                    <tr>
                        <td colspan="7" class="text-center"><small>没有记录!!!</small></td>
                    </tr>
                {% endif %}
              </tbody>
            </table>
            {{render_pagination(pagination, align='right')}}
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
    {{ super() }}
{% endblock %}