{% extends 'base.html' %}
{% from 'bootstrap/pagination.html' import render_pagination with context %}
{% block title %}新增部门{% endblock %}
{% block main %}
<div class="container-fluid" style="margin-top:20px;">
    <div class="row">
        <div class="col">
            <small style="color:#888;"><i class="fas fa-lg fa-street-view"></i>&nbsp;&nbsp;系统管理&nbsp;&nbsp;/&nbsp;&nbsp;部门管理&nbsp;&nbsp;/&nbsp;&nbsp;新增部门</small>
        </div>
    </div>
    <hr>
    <form>
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1">
      </div>
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}