{% extends 'base.html' %}
{% block title %}用户管理{% endblock %}
{% block main %}
<div class="container-fluid" style="margin-top:20px;">
    <div class="row">
        {#
        <div class="col-2">
            {% include 'sys/_nav.html' %}
        </div>
        #}
        <div class="col-12">
            <div class="row">
                <div class="col">
                    <small style="color:#888;"><i class="fas fa-lg fa-street-view"></i>&nbsp;&nbsp;系统管理&nbsp;&nbsp;<i class="fas fa-grip-lines-vertical"></i>&nbsp;&nbsp;用户管理 {{g.nav}}</small>
                </div>
            </div>
            <hr>
            <form method="post">
              <div class="row">
                <div class="col-3 offset-4 text-right">
                    <input type="text" class="form-control" placeholder="用户账号">
                </div>
                <div class="col-3 text-right">
                    <input type="text" class="form-control" placeholder="用户姓名">
                </div>
                <div class="col-2 text-right">
                    <button class="btn btn-outline-info"><i class="fas fa-search"></i>&nbsp;&nbsp;查找</button>&nbsp;&nbsp;
                    <a class="btn btn-outline-primary" href="#"><i class="fas fa-plus"></i>&nbsp;&nbsp;新增</a>
                </div>
              </div>
            </form><br>
            <div class="row">
                <div class="col">
                    <table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
    </tr>
  <tr>
      <th scope="row">3</th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
    </tr>
  <tr>
      <th scope="row">3</th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
    </tr>
  <tr>
      <th scope="row">3</th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
    </tr>
  <tr>
      <th scope="row">3</th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
    </tr>
  <tr>
      <th scope="row">3</th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
    </tr>
  <tr>
      <th scope="row">3</th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
    </tr>
  <tr>
      <th scope="row">3</th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}